@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
}

a {
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

span {
  color: #9c8679;
}

.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #9c8679;
  position: fixed;
  width: 100%;
  padding: 40px;
  height: 40px;
  z-index: 1;
}

.header h1 {
  margin-left: -1000px;
  transition: 0.5s;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    margin-left: -1000px;
  }

  to {
    margin-left: 0;
  }
}

.header h1:hover {
  color: #9c8679;
  transform: scale(1.01);
}

.header h1:hover span {
  color: black;
}

.header span {
  color: #9c8679;
  transition: 0.5s;
}

.link-wrapper a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.link-wrapper a:hover {
  color: #9c8679;
}

@media screen and (max-width: 800px) {
  .full-logo,
  .link-wrapper {
    display: none;
  }

  .header {
    padding-right: 10px;
    padding-left: 20px;
    padding-left: 5;
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .menu-btn-burger {
    width: 40px;
    height: 4px;
    background-color: black;
    transition: 0.5s;
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
    transition: 0.5s;
  }

  .menu-btn-burger::before {
    transform: translateY(-10px);
  }

  .menu-btn-burger::after {
    transform: translateY(10px);
  }

  .menu-btn.open .menu-btn-burger {
    transform: rotate(180deg);
    background-color: transparent;
  }

  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
  }

  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
  }

  .mobile-menu {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #9c8679;
    position: fixed;
    right: -100%;
    margin-top: 80px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .mobile-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile-link {
    margin: 10px;
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) {
  .mobile-logo,
  .menu-btn,
  .mobile-menu {
    display: none;
  }
}

#hero-section {
  position: relative;
  width: 100%;
}

#hero-section img {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  object-fit: cover;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image-overlay h1 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.hero-image-overlay a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 10px;
}

.hero-image-overlay a:hover {
  background-color: white;
  color: #9c8679;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

.section {
  min-height: 60vh;
  margin: 40px;
}

#services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  .service-card {
    min-height: 40px;
    height: unset;
  }
}

.service-card:hover {
  transform: scale(1.01);
}

.service-card p {
  padding: 20px;
  height: 20vh;
  overflow: auto;
}

.service-card-header-wrapper {
  width: 100%;
  background-color: #9c8679;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.service-card-header-wrapper i {
  border-radius: 50%;
  background-color: black;
  padding: 15px;
  font-size: 20px;
}

#about-section {
  display: grid;
  grid-template-columns: 50% 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("media/sparkle.jpg");
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.about-image-wrapper,
.about-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border: 5px solid #9c8679;
  border-radius: 50%;
}

.about-text-wrapper {
  padding-right: 25%;
  color: white;
}

.about-text-wrapper h2 {
  border-bottom: 2px solid #9c8679;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}

.about-text-wrapper p {
  line-height: 25px;
}

@media screen and (max-width: 800px) {
  #about-section {
    grid-template-columns: 100%;
  }

  #about-section img {
    width: 30vh;
    height: 30vh;
    margin-top: 40px;
  }

  .about-text-wrapper {
    padding: 0 40px;
    text-align: justify;
    margin-bottom: 40px;
  }

  .about-text-wrapper h2 {
    text-align: center;
  }
}

#social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5px;
}

#social-section h2 {
  font-size: 50px;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-wrapper i {
  margin: 20px;
  font-size: 45px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.social-icons-wrapper i:hover {
  color: #9c8679;
}

footer {
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

#contact-section form {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}

#contact-section form input,
#contact-section form textarea {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #acacac;
  font-size: 15px;
}

#contact-section form input:focus,
#contact-section form textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px black;
}

#contact-section form button {
  align-self: flex-end;
  margin-right: 5%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #9c8679;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#contact-section form button:hover {
  background-color: black;
  color: white;
}

.contact-info-wrapper {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-start;
}

.contact-info-wrapper p,
.contact-info-wrapper a,
.contact-info-wrapper i {
  color: white;
  font-size: 25px;
  margin: 10px 0;
}

.contact-info-wrapper a {
  margin-left: 10px;
}

.contact-info-wrapper a:hover {
  margin-left: 20px;
}

#service-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.service-modal {
  width: 50%;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
}

.modal-header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal-header span {
  cursor: pointer;
}

#service-modal-content {
  padding: 10px;
}

#service-modal-content img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

#thumbnails-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background-color: #9c8679;
}

#main-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.main-image-wrapper {
  position: relative;
  width: 100%;
  height: 60vh;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 40%;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: #9c8679;
  color: white;
}

#prev-btn {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#next-btn {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#gallery-modal-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

#images-section {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-row img {
  height: 200px;
  width: 300px;
  cursor: pointer;
}

#gallery-modal-header {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  
}

#gallery-modal-header span i {
  cursor: pointer;
  font-size: 30px;
  color: beige;
}
